body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {

  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}

.main-header {
  position: relative;
  padding: 0 72px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navigation-item:nth-child(2) {
  margin-right: auto;
}

.navigation-item {
  width: 242px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #ffffff;
}

.navigation-list a {
  color: #000000;
}

.navigation-item:last-child {
  text-align: right;
}

.navigation-item:nth-child(3) {
  text-align: right;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  color: #b2b2b2;
}

.navigation-item.current a {
  color: #766357;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-img {
  width: 100%;
  height: 510px;
  background-origin: padding-box;
  background-color: #81b3d2;
  background-image: url("../img/welcome_bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -58px;
  position: relative;
}

.welcome-img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/zigzag.png");
}

.welcome img {
  margin: 0;
  padding: 0;
  padding-top: 74px;
  display: block;
  margin: 0 auto;
}

.welcome-title {
  margin-top: 58px;
  margin-bottom: 28px;
  width: 450px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.welcome-text {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 493px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.welcome-title,
.welcome-text {
  background-color: #ffffff;
  text-align: center;
}

.feauters-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feauters-item {
  padding: 59px 50px 41px 50px;
  min-height: 230px;
  width: 400px;
  text-align: center;
}

.feauters-item h3 {
  font-size: 21px;
  line-height: 26px;
}

.reasons {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.reasonsh3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 68px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 22px;
}

.wrap-img {
  height: 256px;
  width: 800px;
}

.reason-blue {
  color: #ffffff;
  padding: 27px 48px;
  width: 304px;
  background-color: #81b3d2;
  text-align: center;
}

.reasons-text-blue {
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
  margin-top: 16px;
  font-weight: 400;
}

.reason-gray {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 27px 60px 23px 60px;
  min-height: 206px;
  width: 400px;
  background-color: #eeeeee;
  text-align: center;
}

.reasons-text-gray {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  margin-top: 22px;
}

.reasons-text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.field-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.map {
  margin: 0;
}

.map img {
  display: block;
}

.page-main iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.search {
  padding-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search h2 {
  margin-top: 9px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  width: 440px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 46px;
}

.filters {

  background-color: #81b3d2;
  background-image: url("../img/filter_bg.jpg");
  background-position: 0 -58px;
  position: relative;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 27px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 10px;
  min-height: 157px;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.infrastructure {
  padding: 0;
  margin: 0;
  margin-right: 115px;
}

.type_housing {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.cost {
  padding: 0;
  margin: 0;
}

.filters-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  color: #ffffff;
}

.filters-checkbox::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  top: 0;
  left: 0;
}

.filters-checkbox::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  top: 0;
  left: 0;
  display: none;
}


.option input:disabled+.filters-checkbox::after,
.option input:disabled+.filters-checkbox::before {
  opacity: 0.3;
}



.option input:focus+.filters-checkbox::after,
.option input:focus+.filters-checkbox::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 10px auto -webkit-focus-ring-color;
}

.option input:checked+.filters-checkbox::after {
  display: block;
}

.option input:disabled+.filters-checkbox::after {}

.option {
  margin-bottom: 20px;
}

.type_housing:last-child {}

.infrastructure:last-child {}

.filter-range {
  width: 318px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 50px;
  height: 38px;
  margin: 0;

  color: inherit;
  font: inherit;
  line-height: 38px;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 85px;
  margin-right: auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.search-form-wrap {
  position: relative;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.form-one {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 55px;
  width: 568px;
  left: 0;
  top: 100%;
  background-color: #fdfdfd;
  z-index: 100;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.date p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.number-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 55px;
}

.number-people p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-search {
  margin: 0;
  padding: 32px 33px 33px 33px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  background-color: #766357;
  width: 568px;
  height: 86px;
}

.btn-search:hover {
  color: #ffffff;
  background-color: #604e43;
}

.btn-search:focus {
  color: #857871;
  background-color: #503e33;
}

.btn-start-search {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 22px 16px 22px;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.btn-start-search:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.btn-start-search:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.field-entervisitors {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 38px;
  background-color: #f2f2f2;
  border: 2px;
  width: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.field-entervisitors:hover {
  background-color: #ebebeb;
}

.field-entervisitors:focus {
  border: 2px solid #ebebeb;
  background-color: transparent;
}

.field-enter {
  padding-left: 13px;
  width: 347px;
  height: 37px;
  background-color: #f2f2f2;
  border: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.field-enter:hover {

  padding-left: 13px;
  background-color: #ebebeb;
}

.field-enter:focus {
  outline: 2px solid #ebebeb;
  background-color: transparent;
}

.field-name-adults {
  margin-right: 40px;
}

.field-name-children {
  margin-right: 27px;
}

.filters fieldset {
  border: none;
}

.btn-other {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  width: 38px;
  border: none;
  background-color: #f2f2f2;
}

.btn-minus::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.btn-plus::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.btn-plus::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -38%);
  transform: translate(-50%, -38%);
}

.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:hover::before {
  background-color: #000000;
}

.btn-plus:active::before,
.btn-plus:active::after,
.btn-minus:active::before {
  background-color: #81b3d2;
}




.btn-other:active {
  fill: #81b3d2;
}

.calendar {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  border: none;
  background-color: transparent;
  right: 0;
  top: 1px;
  fill: #f2f2f2;
}

.calendar-pic:hover path,
.calendar-pic:focus path {
  fill: #000000;
}

.calendar-pic:active path {
  fill: #81b3d2;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 21px;
  color: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sorting-results {
  width: 175px;
  padding: 0;
  margin: 0;
  margin-right: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
}

.sorting-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
}

.sorting-item {
  margin-right: 33px;
}

.sorting-item a {
  border-bottom: 1px #81b3d2 dashed;
  color: #cacaca;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000000;
  border: none;
}

.sorting-arrows {
  margin-left: auto;
}

.sorting-item.current a {
  color: #81b3d2;
  border: none;
}

.sorting-down {
  margin-left: 6px;
}

.sorting-down.current path {
  fill: #81b3d2;
}

.sorting-up:hover path,
.sorting-up:focus path {
  fill: #231f20;
}

.sorting-up:active path {
  fill: #81b3d2;
}

.sorting-down:hover path,
.sorting-down:focus path {
  fill: #231f20;
}

.sorting-down:active path {
  fill: #81b3d2;
}


.hotels {
  width: 100%;
}

.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 73px 28px 73px;
  border-bottom: 1px solid #e5e5e5;
}


.hotel-item img {
  display: block;
  width: 135px;
  height: 90px;
}

.hotels-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-link:hover,
.hotels-link:focus {
  color: #81b3d2;
}

.hotels-link:active {
  color: #b2b2b2;
}

.hotels-choice {
  width: 100%;
  margin: 0;
  margin-top: -5px;
}

.hotels-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 30px;
  width: 500px;
  margin-right: auto;
}

.hotels-description-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 110px;
  margin-right: 5px;
}

.hotels-description-left span,
.hotels-description-right span {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-description-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 140px;
}

.hotels-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hotels-rating {
  display: inline-block;
  vertical-align: top;
  color: #666666;
  background-color: #f2f2f2;
  margin-bottom: 0px;
}

.stars {
  height: 17px;
  margin-top: -1px;
  margin-bottom: auto;
  margin-left: auto;
  background-repeat: space;
  content: "";
  background-image: url(../img/star.svg);
}


.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 66px;
}

.stars-2 {
  width: 42px;
}

.hotels-score {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 3px 15px 3px 15px;
}

.btn-show {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 7px 33px 8px 35px;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
}

.btn-more {
  font-size: 14px;
  font-weight: 700;
  padding: 3px 17px 3px 17px;
  color: #ffffff;
  background-color: #81b3d2;
  line-height: 21px;
}

.btn-more:hover,
.btn-more:focus {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #5496bd;
  color: #7aadcb;
}

.btn-book {
  font-size: 14px;
  font-weight: 700;
  padding: 3px 17px 3px 17px;
  color: #ffffff;
  background-color: #604e43;
  line-height: 21px;
}

.btn-book:hover,
.btn-book:focus {
  background-color: #766357;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.main-footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  background-color: #fdfdfd;
  margin: 0px;
  padding: 0 72px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 0px;
}

.footer-index {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  background-color: #fdfdfd;
  opacity: 0.8;
  margin: 0px;
  padding: 0 72px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  z-index: 100;
}

.hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 255px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.copyright {
  width: 255px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;


  display: -webkit-box;


  display: -ms-flexbox;


  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright-pic:hover path,
.copyright-pic:focus path {
  fill: #81b3d2;
}

.copyright-pic:active path {
  fill: #bdbbbc;
}

.footer-social {
  width: 150px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-btn {
  width: 46px;
  height: 48px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active path {
  fill: #88b6d1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-close {
  display: none;
}
