body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {

  text-decoration: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}






}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}

.main-header {
  position: relative;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation {


  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.navigation-list {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 17px;
  list-style: none;
  display: flex;
  width: 100%;
}
.navigation-item:nth-child(2) {
  margin-right: auto;
}
.navigation-item {
  width: 240px;
  flex-direction: column;
  justify-content: space-around;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #ffffff;
}

.navigation-list a {
  display: block;
  text-align: center;
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  color: #b2b2b2;
}

.navigation-item.current a {
  color: #766357;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-img {
  width: 100%;
  background-origin: padding-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #81b3d2;
  background-image: url("../img/welcome_bg.jpg");


 
  /*background-position: 0 0;*/

  background-repeat: no-repeat;
}
.welcome img {
  display: block;
  margin: 0 auto;
}
.zig {
  width: 1200px;
  height: 57px;
  position: relative;
  z-index: 200;
  top: -200;
}


.welcome-title {
  width: 450px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.welcome-title,
.welcome-text {
  background-color: #ffffff;
  text-align: center;
}


.feauters-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.feauters-item {
  padding: 20px 50px;
  min-height: 230px;
  width: 400px;
  text-align: center;
}

.feauters-item h3 {
  font-size: 21px;
  line-height: 26px;
}

.reasons {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  text-align: center;
}

.wrap-img {
  height: 256px;
  width: 800px;
}

.reason-blue {
  padding: 20px 50px;
  width: 400px;
  background-color: #81b3d2;
  text-align: center;
}

.reason-gray {
  padding: 20px 60px;
  min-height: 206px;
  width: 400px;
  background-color: #eeeeee;
  text-align: center;
}


.field-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.map {
  width: 100%;
}

.main-footer {
  margin: 0px;
  padding: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.hashtag {
  padding-left: 130px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.copyright {
  padding-right: 101px;
}
.copyright span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-social {
  width: 180px;
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.social-btn {
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  background-color: #81b3d2;
}

.search {
  text-align: center;
}

.search h2 {
  font-size: 21px;
  line-height: 26px;
}

.wrap-form p {
  text-align: center;
}
.filters-form {
  display: flex;
  width:100%;
}
.infrastructure {
  padding: 0;
  margin: 0;
  margin-right: 115px;
}
.type_housing {
  padding: 0;
  margin: 0;
  margin-right: auto;
}
.cost {
	width:317px;
}

.filters {
  background-color: #81b3d2;
  background-image: url("../img/filter_bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 30px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 32px;
}
.btn-search {
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  padding: 35px 145px;
  text-transform: uppercase;
  background-color: #766357;
}

.btn-search:hover {
  color: #ffffff;
  background-color: #604e43;
}

.btn-search:focus {
  color: #857871;
  background-color: #503e33;
}

.btn-start-search {
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  padding: 22px 196px;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.btn-start-search:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.btn-start-search:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-show {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 12px 36px;
  background-color: transparent;
  border: 3px solid #ffffff;
  text-transform: uppercase;
}





.field-enter {
  background-color: #f2f2f2;
  border: 3px;
}

.field-enter:hover {
  background-color: #ebebeb;
}

.field-enter:focus {
  border: 3px solid #ebebeb;
  background-color: transparent;
}

fieldset {
  border: none;
}




/*
.btn-other:hover {
  color: #000000;
  border: none;
}

.btn-other:focus {
  color: #81b3d2;
  border: none;
}
*/
legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.sorting {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.sorting-results {
  font-family: inherit;
  padding: 0;
  margin: 0;
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
}

.sorting-list {

  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  margin-right: 33px;
}

.sorting-item a {
  border-bottom: 1px #81b3d2 dashed;
  color: #cacaca;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
  outline: 0;
}

.sorting-item a:active {
  color: #81b3d2;
  border: none;
}

.sorting-item.current a {
  color: #000000;
  border: none;
}


.hotels {
  width: 100%;
}
.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotel-item {
  display: flex;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}


.hotel-item img {
  display: block;
}
.hotels-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-link:hover,
.hotels-link:focus {
  color: #81b3d2;
}

.hotels-link:active {
  color: #b2b2b2;
}
.hotels-choice {
  width: 100%;
  margin: 0;
}
.hotels-description {
  display: flex;
  flex-wrap: wrap;
  padding-left: 31px;
  width: 500px;
  margin-right: auto;
}

.hotels-description-left {
  display: flex;
  flex-direction: column;
  width: 110px;
  margin-right: 7px;
}

.hotels-description-right {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.hotels-rating {
  display: flex;
  align-items: flex-end;
  color: #666666;
  background-color: #f2f2f2;
}

.btn-more {
  font-weight: 700;
  padding: 4px 17px 3px 17px;
  color: #ffffff;
  background-color: #81b3d2;
}

.btn-more:hover,
.btn-more:focus {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #5496bd;
  color: #7aadcb;
}
.btn-book {
  font-weight: 700;
  padding: 4px 17px 3px 17px;
  color: #ffffff;
  background-color: #604e43;
}

.btn-book:hover,
.btn-book:focus {
  background-color: #766357;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
